h1 {
  z-index: -1;
  color: #1b1b1b;
  font-weight: 700;
  text-align: center;
}
footer{
  z-index: -1;
  font-size: 15px;
  font-weight: 70;
  margin-left: 20px;
  }
.aboutus1{
  z-index: -1;
  color: #1b1b1b;
  font-size: 20px;
  margin: 4% 4%;
}

h1, h2{
  text-align: center;
  margin: 2% auto;
}

.home img{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: auto;
}